html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
  max-width: 1920px;
}
a{text-decoration: none;}
.centered{
  display: block;
  margin: 0 auto;
}
h1,p{margin: 0;}
h1{padding: 2rem 0.5rem;}
.ct-text{text-align:center}
.flex-container{
  display: flex;
  gap: 30px;
  align-items: center;
}
.flex-container.spc-between{justify-content:space-between}
.mid-container{
  max-width: 910px;
  min-height: 650px;
  padding: 20px;
}
.game-card{
  display: grid;
  place-items: center;
  padding: 10px;
  border: 2px solid black;
  margin-top: 20px;
  height: 250px;
  width:250px;
}
.game-card>.game-img{
  width: 250px;
  height: 200px;
}
.back-anchor{display:block}
.pd-sm{padding:.5rem}
@media(max-width:710px){
  .flex-container{flex-direction:column;}
  .back-anchor {margin-top:10px;}
}
@media(max-height:910px){
  .mid-container{min-height: auto;}
}