
.gifts-group{
  min-height: 650px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.gift-container{
  position: relative;
  min-width: 180px;
}
.gift-container::before{
  content: '';
  position: absolute;
  width:170px;
  height:20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  top: 90px;
  left: -10px;
}
.gift-box{
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: rgb(22, 151, 28);
}
.gift-box::before{
  content:'';
  position: absolute;
  width: 25px;
  height: 100px;
  left: 60px;
  background-color: rgb(212, 36, 36);
}
.gift-box::after{
  content: '';
  position: absolute;
  box-shadow: inset 0 10px rgba(0,0,0,0.3);
  width: 150px;
  height: 100px;
}
.gift-box>input{display: none;}
.gift-box>.box-content{font-size:55px;}
.box-content{
  position: absolute;
  transition:0.6s;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-cover{
  position: absolute;
  background-color: rgb(22, 151, 28);
  width:170px;
  height:40px;
  top:-40px;
  left: -10px;
  transform-origin: bottom left;
  transition: .2s;
  cursor: pointer;
  text-align: center;
}
.box-cover::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 40px;
  left: 69px;
  background-color: rgb(212, 36, 36);
}
.box-cover::after{
  position: absolute;
  content: '';
  width:5px;
  height: 0;
  border-bottom: 30px solid rgb(212, 36, 36);
  border-top: 30px solid rgb(212, 36, 36);
  border-left: 0px  solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top:-47px;
}

.gift-box > input[type=checkbox]:checked + .box-cover{
  transform: rotate(-110deg) scale(0.85);
}
.gift-box>input[type=checkbox]:not(:checked)~.box-content {
  opacity: 0;
  transition: 0s;
}
.gift-box>input[type=checkbox]:checked~.box-content{
  opacity: 1;
  transform: translateY(-100px);
}
.reset-btn{
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}
@media(max-width:460px){
  .reset-btn{margin: 30px auto 30px auto;}
}